body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(64, 64, 230);
  user-select: none;
}

h2 {
  color: white;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: black;
  background: white;
  border: none;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.reset:focus {
  background-color: cadetblue;
  
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: rgb(51, 48, 48);
  border-radius: 13px;
  padding: 60px 40px;
}

.game{
  border: 2px solid white;
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item{ 
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: transform 0.25s;
}

.item::after{
  content: "";
  position: absolute;
  inset: 0;
  transition: 0.25s;
  background: white;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen{
  transform: rotateY(0deg);
}

.boxOpen::after, .boxMatch::after{
  transform: rotateY(180deg);
}